.checkbox{
    position: relative;
    overflow: hidden;
    margin: 40px 20px 30px;
    width: 48px;
    height: 48px;
    background-color: white;
    border: 1px solid;
    cursor: pointer;
}

.checkbox > div{
    position: absolute;
    background-color: coral;
    height: 12px;
    display: none;
}

.checkbox > div:first-of-type{
    width: 29px;
    top: 28px;
    left: 1px;
    transform: rotate(30deg);
}
.checkbox > div:last-of-type{
    width: 42px;
    top: 19px;
    left: 10px;
    transform: rotate(-60deg);
}

.checkbox.checked{
    animation-name: check-outter;
    animation-duration: 0.3s;
    animation-fill-mode: forwards;
    animation-timing-function: ease;
}
.checkbox.checked > div{
    display: block;
}

.checkbox.checked > div:first-of-type{
    animation-name: check-inner-a;
    animation-duration: 0.2s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in;
}
.checkbox.checked > div:last-of-type{
    animation-name: check-inner-b;
    animation-duration: 0.2s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in;
}


@keyframes check-inner-a{
    0%{
        width: 29px;
        top: 0;
        left: -20px;
        transform: rotate(0);
    }
    100%{
        width: 29px;
        top: 28px;
        left: 1px;
        transform: rotate(30deg);
    }
}

@keyframes check-inner-b{
    0%{
        width: 42px;
        top: -24px;
        left: 36px;
        transform: rotate(-50deg);
    }
    100%{
        width: 42px;
        top: 19px;
        left: 10px;
        transform: rotate(-60deg);
    }
}

@keyframes check-outter{
    70%{
        transform: scale(0.9);
    }
}