.expandable{
    background-color: white;
    cursor: pointer;
    width: 94%;
    margin-left: 3%;
    margin-right: 3%;
    padding: 0.2em;
    padding: 1em;
}
.expandable.hide{
    animation-name: hide-expandable;
    animation-duration: 0.2s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}
.expandable.show{
    animation-name: show-expandable;
    animation-duration: 0.2s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}

@keyframes hide-expandable{
    0%{
        color: transparent;
        height: 48px;
        width: 94%;
        margin-left: 3%;
        margin-right: 3%;
        padding: 1em;
        border-radius: 3px;
        border: none;
    }
    70%{
        color: transparent;
    }
    100%{
        color: coral;
        width: 48px;
        height: 48px;
        border: 3px solid coral;
        border-radius: 48px;
        text-align: center;
        line-height: 45px;
        font-size: 2.7em;
        font-weight: bold;
        padding: 0;
    }
}

@keyframes show-expandable{
    0%{
        color: transparent;
        font-size: 0;
        width: 48px;
        height: 48px;
        border-radius: 48px;
        border: 3px solid coral;
        padding: 0;
    }
    70%{
        color: transparent;
    }
    100%{
        color: black;
        width: 94%;
        margin-left: 3%;
        margin-right: 3%;
        padding: 1em;
        border: none;
        line-height: normal;
    }
}