body, body *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Roboto', sans-serif;
    background-color: rgb(228, 228, 228);
}
a{
    text-decoration: none;
    color: black;
}
ul, ol{
    list-style-type: none;
}