.toggle-switch{
    position: relative;
    width: 64px;
    height: 32px;
    background-color: #00701a;
    border-radius: 16px;
}
.toggle-switch.off{
    background-color: gray; 
}
.toggle-switch:hover{
    cursor: pointer;
    transform: scale(1.02);
}

.toggle-switch > div{
    position: absolute;
    width: 32px;
    height: 32px;
    border-radius: 16px;
    /*border: 2px solid white;*/
    background-color: #43a047;
}

.toggle-switch.on > div{
    animation-name: switch-on;
    animation-duration: 0.3s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-out;
}

.toggle-switch.off > div{
    animation-name: switch-off;
    animation-duration: 0.3s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-out;
}

@keyframes switch-on{
    0%{ left: 32px; background-color: rgb(187, 187, 187); }
    100%{ left: 0; background-color: #43a047; }
}

@keyframes switch-off{
    0%{ left: 0; background-color: #43a047; }
    100%{ left: 32px; transform: scale(0.9); background-color: rgb(187, 187, 187); }
}